@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  @font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-weight: 600;
    font-style: normal;
    src: url('@/assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  }
}

/* Helper classes */
@layer components {
  .section {
    @apply my-0 mx-4 md:mx-8 xl:mx-auto xl:max-w-7xl
  }
}
